
/***********************
 *  list of comments
 ***********************/

div[ng-app="comimoc"] .comment {
    margin-bottom: 60px;
}
div[ng-app="comimoc"] .meta {
    position: relative;
    background-color: #EEE;
    border-radius: 10px;
}
div[ng-app="comimoc"] .meta a {
    color: inherit;
    text-decoration: none;
}
div[ng-app="comimoc"] .meta img {
    position: absolute;
    left: 40px;
    top: -4px;
    border: 6px solid #EEE;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(160, 160, 160, 0.8);
}
div[ng-app="comimoc"] .meta .when {
    float: right;
    margin-right: 20px;
    font-style: italic;
    color: #AAA;
}
div[ng-app="comimoc"] .meta .author {
    font-weight: bold;
}
div[ng-app="comimoc"] .meta p {
    margin: 0;
}
div[ng-app="comimoc"] .meta p,
div[ng-app="comimoc"] .content {
    margin-left: 20%;
}
div[ng-app="comimoc"] .content {
    white-space: pre-line;
}


/***********************
 *  comment form
 ***********************/

div[ng-app="comimoc"] form {
    width: 78%;
    margin-left: 20%;
}
div[ng-app="comimoc"] form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
div[ng-app="comimoc"] form legend {
    font-size: 27px;
    font-weight: bold;
    margin: 0.67em 0;
}
div[ng-app="comimoc"] form input,
div[ng-app="comimoc"] form textarea {
    display: block;
    margin-bottom: 14px;
    min-height: 28px;
    padding-left: 4px;
    border-radius: 4px;
    background-color: #FEFEFE;
    border: 1px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
div[ng-app="comimoc"] form input {
    width: 30%;
}
div[ng-app="comimoc"] form textarea {
    width: 100%;
}
div[ng-app="comimoc"] form button {
    background-color: #FEFEFE;
    background-image: linear-gradient(to bottom, #FEFEFE, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}