{% macro display_article(article, SITEURL, full=True, with_aside=True) %}
  <article>
    <h1>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
        title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a>
    </h1>
    
  {% if with_aside %}  
    <footer>
      <p class="date">{{ article.locale_date }}</p>
    {% if article.category %}
      <p class="category"><a href="{{ SITEURL }}/{{ article.category.url }}"><i class="icon-folder-close">&nbsp;</i>{{ article.category }}</a></p>
    {% endif %}
    {% if article.tags %}
      <ul class="tags-list">{% for tag in article.tags %}<li><a href="{{ SITEURL }}/{{ tag.url }}"><i class="icon-tag">&nbsp;</i>{{ tag }}</a></li>{% endfor %}</ul>
    {% endif %}
    </footer>
    
    <section class="post-content">
  {% else %}
    <section>
  {% endif %}
      
      {% if full %}
      {{ article.content|replace('<blockquote>', '<blockquote><i class="icon-quote-left icon-3x pull-left icon-muted"></i>') }}
      {% else %}
      {{ article.summary }}
      {% endif %}
    </section>
      
  </article>
{% endmacro %}
